$blue: #0089EF;
$strongGray: #445566;

.container {

    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer"
    ;

    .content {
        margin: 3rem 8rem;
        grid-template-columns: 1fr;

        h1, h2, h3 {
            color:  $blue;
    
            a { 
                text-decoration: none;
                color: $strongGray;
            }

            span {
                a {
                    padding-left: 1rem;
                    color:  $blue;
                }
            }
        }
    
        .main-text {
            nav {
                ul {
                    li {
                        a {
                            font-size: 1.2rem;
                            text-decoration: none;
                            color: $strongGray;
                            cursor: pointer;

                            &:hover { color: $blue; }
                        }
                    }
                }
            }
    
            span { color: $strongGray;}
    
            p {
                margin: 1rem 0;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: start;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        .content {
            margin: 0;

            .main-text {
                nav {
                    ul {
                        span { margin: 1rem; }

                        li {
                            a {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}